* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

ul::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

ul::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3f2860;
}

body, html{
	width: 100%;
	height: 100%;
	overflow: hidden;
	font: 13px Helvetica, Arial;
}

button{
	background: white;
}

form label {
	color: white;
}

form input {
	width: 100%;
}

#widthSize{
	left: 40%;
}

#colourOption{
	left: 20%;
}

#erasebutton{
	position:relative;
	height:100%;
	width: 15%;
}

#ulTools{
	list-style-type: none;
	position: absolute;
	height: 5%;
	width:100%;
	background: #3f2860;
}

.liRight{
	float: right;
	width: 10%;
	height: 100%;
	border: none;
}

.liRight a {
	height:100%;
	width:100%;
}

.liLeft{
	float: left;
	margin-right: 1%;
	width: 10%;
	height: 100%;
	border: none;
}

.liLeft button {
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: white;
	border: none;
	background: #3f2860;
}

#erase:hover {
	background: #6f21af!important;
}

.liLeft form {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#save {
	width: 100%;
	height: 100%;
	border: none;
	background: #3f2860;
	color: white;
}

#save:hover {
	background: #6f21af;
}

#drawing{
	top: 0;
	cursor: crosshair;
}

#send {
	background: #3f2860;
	padding: 3px;
	position: absolute;
	bottom: 0;
	width: 20%;
	height: 7.5%;
	right: 0;
}

#send input {
	width: 100%;
	border: 0;
	padding: 10px;
	height: 98%;
}

#messages {
	list-style-type: none;
	right: 0;
	border: 3px solid #3f2860;
	height: 88.1%;
	position: fixed;
	overflow-y: auto;
	width: 20%;
	border-top: none;
	top: 5%;
	background: white;
}

#messages li {
	padding: 5px 10px;
	word-wrap: break-word;
}

#messages li:nth-child(odd) {
	background: #eee;
}
